.header{
  backdrop-filter: blur(5px);
  top: 0px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding:  1rem 1.5rem;
  width: 100%;
  align-items: center;
  background-color: #111;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 200px;
}
@keyframes adjust-header{
  to {
    background: rgba(0, 0, 0, .3);
  }
}

.header .header-title{
  color: #188bb5;
}
.header .header-title:hover{
  color: #747bff;
}

.header-links ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-links ul li{
  margin-left: 16px;
}