.header{
  display: flex;
  justify-content: space-between;
  padding:  1rem 1.5rem;
  width: 100%;
  align-items: center;
  background-color: #111;
}

.header .header-title{
  color: #646cff;
}
.header .header-title:hover{
  color: #747bff;
}

.header-links ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-links ul li{
  margin-left: 16px;
}