.horizontal-list{
  text-align: start;
  min-width: 320px;

  height: auto;
  padding-bottom: 70px;
}

.horizontal-list .horizontal-list--topic{
  margin: 16px 0;
  color: #188bb5;
}

.horizontal-list .horizontal-list--slider{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
  gap: 16px;
  height: auto;

}